include *LICENSE*
include CHANGELOG
include README*
include pip-dev-req.txt
exclude eulxml/xpath/parsetab.py eulxml/xpath/lextab.py
recursive-include doc Makefile *.rst *.py
recursive-include test *.py
recursive-include test/test_xmlmap *.py
recursive-include test/test_xmlmap/fixtures *
